{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>
      /* Application header should be static for the landing page */
      .md-header {
          position: initial;
      }

      /* Remove spacing, as we cannot hide it completely */
      .md-main__inner {
          margin: 0;
      }

      /* Hide main content for now */
      .md-content {
          display: none;
      }

      /* Hide table of contents */
      @media screen and (min-width: 60em) {
          .md-sidebar--secondary {
              display: none;
          }
      }

      /* Hide navigation */
      @media screen and (min-width: 76.25em) {
          .md-sidebar--primary {
              display: none;
          }
      }

      .md-main {
          flex-grow: 0;
      }

      .md-main__inner {
          display: flex;
          /* height: 100%; */
      }

      .tx-container {
          padding-top: .0rem;
          background: linear-gradient(to bottom, var(--md-primary-fg-color), hsla(160deg, 47%, 55%, 1) 99%, #fff 99%)
      }

      .tx-hero {
          margin: 32px 2.8rem;
          color: var(--md-primary-bg-color);
          justify-content: center;
      }

      .tx-hero h1 {
          margin-bottom: 1rem;
          color: currentColor;
          font-weight: 700
      }

      .tx-hero__content {
          padding-bottom: 1rem;
          margin: 0 auto;
      }

      .tx-hero__image {
          width: 17rem;
          height: 17rem;
          order: 1;
          padding-right: 2.5rem;
      }

      .tx-hero .md-button {
          margin-top: .5rem;
          margin-right: .5rem;
          color: var(--md-primary-bg-color)
      }

      .tx-hero .md-button--primary {
          background-color: var(--md-primary-bg-color);
          color: hsla(280deg, 37%, 48%, 1);
          border-color: var(--md-primary-bg-color)
      }

      .tx-hero .md-button:focus,
      .tx-hero .md-button:hover {
          background-color: var(--md-accent-fg-color);
          color: var(--md-default-bg-color);
          border-color: var(--md-accent-fg-color)
      }

      .feature-item h2 svg {
          height: 30px;
          float: left;
          margin-right: 10px;
          transform: translateY(10%);
      }

      .top-hr {
          margin-top: 0;
      }

      .feature-item {
          font-weight: 300;
          box-sizing: border-box;
          padding: 0 15px;
          word-break: break-word;
      }

      .feature-item h2 {
          color: #333;
          font-weight: 700;
          font-size: 2em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: normal;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-family: inherit;
      }

      .feature-item p {
          font-size: .8rem;
          line-height: 1.8em;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          color: #111;
          margin: 0 0 10px;
          display: block;
      }

      @media screen and (max-width:30em) {
          .tx-hero h1 {
              font-size: 1.4rem
          }
      }

      @media screen and (min-width:60em) {
          .md-sidebar--secondary {
              display: none
          }

          .tx-hero {
              display: flex;
              align-items: center;
              justify-content: center;
          }

          .tx-hero__content {
              max-width: 22rem;
              margin-top: 3.5rem;
              margin-bottom: 3.5rem;
              margin-left: 1.0rem;
              margin-right: 4.0rem;
              align-items: center;
          }
      }

      @media screen and (min-width:76.25em) {
          /* .md-sidebar--primary {
            display: none
        } */

          .top-hr {
              width: 100%;
              display: flex;              
              max-width: 61rem;
              margin-right: auto;
              margin-left: auto;
              padding: 0 .2rem;
          }

          .bottom-hr {
              margin-top: 10px;
              width: 100%;
              display: flex;
              max-width: 61rem;
              margin-right: auto;
              margin-left: auto;
              padding: 0 .2rem;
          }

          .feature-item {
              flex: 1;
              min-width: 0;
          }

          .feature-item:hover {
              background-color: #e7f9ff;
              border-radius: 15px;
          }
      }

      .hr {
          border-bottom: 1px solid #eee;
          width: 100%;
          margin: 20px 0;
      }

      .text-center {
          text-align: center;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
          margin-top: 15px;
          font-size: 23px;
          font-weight: 300;
          padding-bottom: 10px;
      }

      .logos {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row wrap;
          margin: 0 auto;
      }

      .logos img {
          flex: 1 1 auto;
          padding: 25px;
          max-height: 130px;
          vertical-align: middle;
      }

      .hr-logos {
          margin-top: 0;
          margin-bottom: 30px;
      }

      .md-footer-meta__inner {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 1.0rem;
      }

      .md-footer-social {
          padding-top: 20px;
      }

      /* First section */
      a.md-button.md-button {
      color: #fff;
      border-color: #fff;
      border-radius: 100px;
      }

      a.md-button.md-button:hover {
      color: #fff;
      background-color: var(--md-accent-fg-color);
      border-color: var(--md-accent-fg-color);
      }

      a.md-button.md-button--primary {
      background-color: var(--md-accent-fg-color);
      border-color: var(--md-accent-fg-color);
      color: #fff;
      border-radius: 100px;
      }
      a.md-button.md-button--primary:hover {
      color: var(--md-accent-fg-color);
      background-color: #fff;
      border-color: #fff;
      }

  </style>

  <!-- Hero for landing page -->
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">

        <!-- Hero image -->
        <div class="mdx-hero__image">
          <img
            src="assets/images/illustration-2.png"
            alt=""
            width="800"
            height="650"
            draggable="false"
          >
        </div>

        <!-- Hero content -->
        <div class="mdx-hero__content">
          <h1>Học liệu điện tử môn Tin học của Mr School</h1>
          <p>{{ config.site_description }}</p>
          <a
            href="{{ page.next_page.url | url }}"
            title="{{ page.next_page.title | e }}"
            class="md-button md-button--primary"
          >
            Quick start
          </a>
          <a
            href="{{ 'insiders/' | url }}"
            title="Material for MkDocs Insiders"
            class="md-button"
          >
            Get Insiders
          </a>
        </div>
      </div>
    </div>
  </section>

<!-- Main site box descriptions -->
<div style="background-color: #fff; display: block; position: relative; transform-style: preserve-3d; padding: 3rem 0 3rem 0;">
    <div class="top-hr">
        <div>
            <h1 style="color: #0000008a; font-size: 3em; font-weight: 300;">Những mong muốn của
                chúng tôi và bạn có thể tin</h1>
        </div>
    </div>
    <div class="top-hr">
        <div class="feature-item">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>book-education-outline</title><path d="M6 20H13V22H6C4.89 22 4 21.11 4 20V4C4 2.9 4.89 2 6 2H18C19.11 2 20 2.9 20 4V12.54L18.5 11.72L18 12V4H13V12L10.5 9.75L8 12V4H6V20M24 17L18.5 14L13 17L18.5 20L24 17M15 19.09V21.09L18.5 23L22 21.09V19.09L18.5 21L15 19.09Z" /></svg>
                Dựa trên Chương trình GDPT 2018
            </h2>
            <p>Mr School's docs hoàn toàn bám sát khung chương trình bộ môn Tin học thuộc Chương trình GDPT
                2018.</p>
        </div>
        
        <div class="feature-item">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>account-school-outline</title><path d="M18 10.5V6L15.89 7.06C15.96 7.36 16 7.67 16 8C16 10.21 14.21 12 12 12C9.79 12 8 10.21 8 8C8 7.67 8.04 7.36 8.11 7.06L5 5.5L12 2L19 5.5V10.5H18M12 9L10 8C10 9.1 10.9 10 12 10C13.1 10 14 9.1 14 8L12 9M14.75 5.42L12.16 4.1L9.47 5.47L12.07 6.79L14.75 5.42M12 13C14.67 13 20 14.33 20 17V20H4V17C4 14.33 9.33 13 12 13M12 14.9C9 14.9 5.9 16.36 5.9 17V18.1H18.1V17C18.1 16.36 14.97 14.9 12 14.9Z" /></svg>
               Chỗ dựa vững chắc của học sinh
            </h2>
            <p>Là học sinh, bạn thường ngán đọc sách giáo khoa, hoặc đọc xong <em>chẳng hiểu gì</em>, hoặc tự cho là mình <em>dốt Tin học</em>.</p> 
            <p>Với Mr School's docs, bạn đã có chỗ dựa vững chắc, dư sức vượt qua môn Tin học kỳ thi Tốt nghiệp THPT và đủ sức vượt qua các học phần tin học căn bản trên đại học.</p>
        </div>
        <div class="feature-item">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>file-document-check-outline</title><path d="M23.5 17L18.5 22L15 18.5L16.5 17L18.5 19L22 15.5L23.5 17M6 2C4.89 2 4 2.9 4 4V20C4 21.11 4.89 22 6 22H13.81C13.45 21.38 13.2 20.7 13.08 20H6V4H13V9H18V13.08C18.33 13.03 18.67 13 19 13C19.34 13 19.67 13.03 20 13.08V8L14 2M8 12V14H16V12M8 16V18H13V16Z" /></svg>
                Giảng liệu tin cậy của giáo viên
            </h2>
            <p>Là giáo viên, bạn chưa biết bắt đầu bài giảng từ đâu, hoặc soạn bài như thế nào.</p>  
            <p>Với Mr School's docs, bạn đã có giảng liệu và học liệu số tin cậy, có sẵn ý tưởng, và như thế hãy tuỳ nghi chế biến lại theo ý mình.</p>
        </div>
    </div>
    <div class="top-hr">
        <div class="feature-item">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M16 17v2H2v-2s0-4 7-4 7 4 7 4m-3.5-9.5A3.5 3.5 0 109 11a3.5 3.5 0 003.5-3.5m3.44 5.5A5.32 5.32 0 0118 17v2h4v-2s0-3.63-6.06-4M15 4a3.39 3.39 0 00-1.93.59 5 5 0 010 5.82A3.39 3.39 0 0015 11a3.5 3.5 0 000-7z" /></svg>
                Bình dân Tin học vụ
            </h2>
            <p>Là người làm trong lĩnh vực khác, nay muốn <em>lấn sân</em> sang tin học, bạn không cần phải biết trước kiến thức tin học nào cả. Yêu cầu duy nhất là biết đọc. Thoả yêu cầu này, bạn chỉ việc tự học mà lấn tới.</p>
            <p>Mr School's docs giảm một chút tính hàn lâm và tăng hai chút tính bình dân, lớp 9 còn học được, chẳng lẽ bạn lại không.</p>
        </div>
        <div class="feature-item">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>comment-text-multiple-outline</title><path d="M12,23A1,1 0 0,1 11,22V19H7A2,2 0 0,1 5,17V7A2,2 0 0,1 7,5H21A2,2 0 0,1 23,7V17A2,2 0 0,1 21,19H16.9L13.2,22.71C13,22.89 12.76,23 12.5,23H12M13,17V20.08L16.08,17H21V7H7V17H13M3,15H1V3A2,2 0 0,1 3,1H19V3H3V15M9,9H19V11H9V9M9,13H17V15H9V13Z" /></svg>
                Trực quan và cụ thể
            </h2>
            <p>Nếu thấy đoạn diễn giải quá dài, hãy xem sơ đồ tóm tắt của bài. Mười phút là đầu óc sáng ngay.</p>

            <p>Nếu đọc lý thuyết vẫn chưa biết gì, hãy xem ví dụ là hiểu. Các ví dụ, hình ảnh và bảng biểu luôn có mặt ở phần lớn các đoạn lý thuyết.</p>

            
        </div>
        <div class="feature-item">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>code-block-tags</title><path d="M5.59 3.41L7 4.82L3.82 8L7 11.18L5.59 12.6L1 8L5.59 3.41M11.41 3.41L16 8L11.41 12.6L10 11.18L13.18 8L10 4.82L11.41 3.41M22 6V18C22 19.11 21.11 20 20 20H4C2.9 20 2 19.11 2 18V14H4V18H20V6H17.03V4H20C21.11 4 22 4.89 22 6Z" /></svg>
                Mã nguồn dễ hiểu và mở
            </h2>
            <p>Nếu chưa biết code thế nào, hãy bắt chước đoạn code có sẵn. Các đoạn mã đều có chú thích, input và output cụ thể.</pr>

            <p>Nếu code xong không chạy, cứ tự nhiên sao chép một phần hoặc chôm luôn nguyên chương trình.</p>

            <p>Lưu ý: việc code có thể gây nghiện, bởi nó làm tăng dopamine, <em>khiến</em> bạn vui vẻ và hạnh phúc.</p>
        </div>
        
    </div>
    <div class="top-hr">        
        <div class="feature-item">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>cellphone-text</title><path d="M17,19V5H7V19H17M17,1A2,2 0 0,1 19,3V21A2,2 0 0,1 17,23H7C5.89,23 5,22.1 5,21V3C5,1.89 5.89,1 7,1H17M9,7H15V9H9V7M9,11H13V13H9V11Z" /></svg>Xem được trên nhiều thiết bị
            </h2>
            <p>Không có laptop cấu hình khủng hay điện thoại xịn để đọc, bạn cứ nhanh trí mở Mr School's docs trên máy <em>cùi bắp</em> của mình.</p>

            <p>Đẳng cấp không nằm ở cái máy đang cầm, mà thể hiện ở nguồn tri thức uy tín mà bạn đang tiếp cận, và thể hiện ở chỗ bạn tìm thấy lợi ích của mình từ đó.</p>  
        </div>
        <div class="feature-item">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>escalator-up</title><path d="M20 8H18.95L6.95 20H4C2.9 20 2 19.11 2 18C2 16.9 2.9 16 4 16H5.29L7 14.29V10C7 9.45 7.45 9 8 9H9C9.55 9 10 9.45 10 10V11.29L17.29 4H20C21.11 4 22 4.89 22 6C22 7.11 21.11 8 20 8M8.5 5C9.33 5 10 5.67 10 6.5C10 7.33 9.33 8 8.5 8C7.67 8 7 7.33 7 6.5C7 5.67 7.67 5 8.5 5M20.17 15.66L14.66 21.17L12.83 19.34L18.34 13.83L16.5 12H22V17.5L20.17 15.66Z" /></svg>
                Nâng cao và mở rộng
            </h2>
            <p>Mong muốn một ngày được thử sức ở những sân chơi học sinh giỏi, nhưng bạn chưa đủ tự tin hoặc chưa biết bắt đầu từ đâu.</p>
            
            <p>Với Mr School's docs, bạn đã có chỗ để bắt đầu <em>mài sắt</em> và có quyền mơ ước đến ngày <em>nên kim</em>... cương. 
                
            <p>Mr School's docs còn phục vụ <em>cơm thêm</em>, bao gồm nhưng không giới hạn trong: Tin học văn phòng quốc tế MOS, một số chuyên đề CS và ICT, và những bài toán học sinh giỏi để giải lấy cảm hứng.</p>
        </div>
        <div class="feature-item">
            
        </div>
    </div>
</div>

<div style="background-color: #005d8b; display: block; position: relative; transform-style: preserve-3d; padding: 3rem 0 3rem 0;">
    <div class="top-hr">
        <h1 style="color: #f5f5f5; background-color: #005d8b; font-size: 3em; font-weight:
            300;">Về chúng tôi</h1>
    </div>
    <div class="top-hr"
        style="color: whitesmoke; word-break: break-word; font-size: 0.8rem; font-weight: 300; line-height: 1.2rem;  padding: 0 15px;">
        <div>
            <p>Mr School's docs được xây dựng nhằm hướng đến học sinh và giáo viên trung học phổ thông, với tiêu chí dễ đọc và dễ hiểu về nội dung, đơn giản và thẩm mỹ về hình thức, thuận tiện và nhanh chóng về thao tác truy cập.</p>
            <p>Mr School's docs vẫn dành cho bạn, những người ham học hỏi, trân trọng tri thức, nhất là tri thức trong lĩnh vực khoa học máy tính.</p>
            <p>Mr School's docs được xây dựng bởi giáo viên có không ít hơn <code>years = pow(4, 2)</code> năm trong nghề <em>type to teach</em> và <em>code to coach</em>.</p>
            <p>Mr School's docs được xây dựng từ việc học hỏi, tham khảo và tra cứu các tài liệu tin học tin cậy, đặc biệt là các website học thuật nước ngoài đủ uy tín. Ngoài ra, không loại trừ việc sử dụng những công cụ AI để đối chiếu, phản biện, double check, triple check, quadruple check và multiple check.</p>
            <p>Mr School's docs được xây dựng vì đam mê. Nó không vì Nghị quyết 03 (về sau là NQ 08). Nó thể hiện mong muốn góp một bao xi măng của chúng tôi vào xã hội học tập 4.0.</p>            
            <p>Chúng tôi <em>giả vờ</em> rằng một số bài viết trong sách giáo khoa, bằng một cách nào đó, chưa thực sự ổn, hoặc chưa được bớt hàn lâm hoá, hoặc chưa kịp cập nhật theo thực tế, hoặc những hạn chế khác, dẫn đến hiệu quả sử dụng chưa được như ý. Do đó, Mr School's docs được xây dựng với mong muốn học sinh và đồng nghiệp có thêm một lựa chọn để <em>xài</em> và <em>xài được</em>, chứ không <em>xài xể</em>.                
            <p>Mr School's docs được xây dựng bằng/dựa trên/nhờ vào <a href="https://squidfunk.github.io/mkdocs-material/" target="_blank">Material for MkDocs</a>, có thể xem là một framework, một công cụ đơn giản mà ảo diệu, đặc biệt đối với các tài liệu tin học và kỹ thuật. Đội ơn ông trời, đội ơn tác giả Material for MkDocs và tác giả của các tool liên quan.</p>
        </div>
    </div>
</div>


<div style="background-color: #FDF6E3; display: block; position: relative; transform-style: preserve-3d; padding: 3rem 0 3rem 0;">
    <div class="top-hr">
        <h1 style="color: #263238; font-size: 3em; font-weight: 300;">Tài trợ</h1>
    </div>
    <div class="top-hr"
        style="color: #263238; word-break: break-word; font-size: 0.8rem; font-weight: 300; line-height: 1.2rem;  padding: 0 15px;">
        <div>
            <p>Chào bạn! Tôi đã dành nhiều công sức và thời gian để xây dựng website học liệu này nhằm hướng đến học sinh cấp 2 và 3 (THCS lẫn THPT), đồng nghiệp là các giáo viên môn Tin học và cả bản thân nữa. Nếu bạn thấy nó có ích cho việc học tập hoặc giảng dạy của mình, xin hoan hỉ gởi tặng tôi một ly cà phê nhé. Cám ơn bạn nhiều lắm! Đừng ngại phản hồi hoặc thắc mắc bất kỳ điều gì liên quan đến môn Tin học thú vị này, tôi sẽ cố gắng trong khả năng của mình hồi âm cho bạn.</p>

            <p>English version:</p>

            <p>Welcome! I've put together this online computer science resource for my high school students, fellow educators, and myself. If it helps you in your learning or teaching journey, I'd be grateful if you'd consider buying me a coffee. Thank you so much! Feel free to share feedback or drop any Computer Science-related questions my way—I'd love to hear from you.</p>

            <div class="donation-button">
                <a href="https://mr-school.xyz/donation/" class="btn-donate">Bao tôi ly cafe 🧋 nhé!</a>
            </div>
        </div>

    </div>
</div>
<!-- ----------------------------------------------------- -->

{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}
