h2 {
    font-size: 1.2rem;
    border: 2px solid #0097be;
    border-left: none;
    border-radius: 0 30px 30px 0;
    margin-left: -10px;
    padding: 10px 20px;
    width: 30%;
    text-align: right;
}

#langlist {
    color: #fff;
    background-color: #0097be;
    margin-left: 50px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
}

.my-class {
    color: #9c4957;
    font-weight: 700;
    font-size: 1.3rem;
    word-spacing: 1rem;;
}

a {
    color: #ffa500;
    text-decoration: none;
}

a:visited {
    color: #7360f2;
}

a:hover {
    color: #fd98a9;
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: 700;
}

a:active {
    color: #fc3758;
}

ul {
    list-style-image: url('https://img.icons8.com/fluency/24/module.png');
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #0097be;
}
  
th {
    background-color: #0097be;
    height: 1.5rem;
    min-width: 80px;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

tr:hover {
    background-color: #ceeaff;
} 

.container {
    display: flex;
    width: 100%;
    height: 40vh;
}

.nav-bar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
}

.iframe-container {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.form-container {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFBFE;
    color: #1C1B1F;
    width: 100%;
}
 
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
label {
    display: block;
    margin-bottom: 0.2rem;
    color: #1C1B1F;
}
  
input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 12px;
    margin: 0.3rem auto 1.5rem auto;
    border: 1px solid #79747E;
    border-radius: 30px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: #0097be;
}
  
button[type="submit"] {
    background-color: #f5f5f5;
    color: #0097be;
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0097be;
    color: #fff;
}