:root {
    --first-color: #f16529;
    --second-color: #28a9df;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.vtct-list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align the lists at the top */
    gap: 20px; /* Optional: Adds some space between the lists */
  }

.vtct-list {
    width: 360px;    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    flex: 1; /* Makes each list take up equal space */
    max-width: 45%; /* Ensures the lists don't stretch too wide */
}

.vtct-first-list {
    border-bottom: 20px solid var(--first-color);
}

.vtct-second-list {
    border-bottom: 20px solid var(--second-color);
}

.vtct-list h2 {
    color: #fff;
    
    padding: 10px 20px;
    font-weight: 700;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#h2-html {
    background: var(--first-color);
}

#h2-css {
    background: var(--second-color);
}

.vtct-list ul {
    position: relative;
    background: #fff;
}

.vtct-list ul:hover li {
    opacity: 0.2;
}

.vtct-list ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.vtct-list ul li:hover {
    transform: scale(1.1);
    z-index: 5;
    /* background: #25bcff; */
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    
    opacity: 1;
    border-radius: 15px;
}

.vtct-first-list ul li:hover {
    background: var(--first-color);
    color: #fff;
}

.vtct-second-list ul li:hover {
    background: var(--second-color);
    color: #fff;
}

.vtct-list ul li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    /* background: #25bcff; */
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 600;
    transform: translateY(-2px);
}

.vtct-first-list ul li span {
    background: var(--first-color);
}

.vtct-second-list ul li span {
    background: var(--second-color);
}

.vtct-first-list ul li:hover span {
    color: var(--first-color);
    background: #fff;
}

.vtct-second-list ul li:hover span {
    color: var(--second-color);
    background: #fff;
}

li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* Adjust padding as needed */
    box-sizing: border-box;
    /* Ensure padding is included within the width/height */
    text-decoration: none;
    color: #696969;
    /* Inherit the text color */
}

@media screen and (max-width: 575px) {
    .vtct-list-container {
      flex-direction: column;
      gap: 10px; /* Adjust spacing between stacked lists */
    }
  
    .vtct-list {
      max-width: 100%; /* Lists take full width */
    }
  }

  